# Build
bin
obj

# IDE
.vs
*.user
.idea
.ionide

# macOS
.DS_Store

# Telega.Playground
Telega.Playground/*.json
Telega.Playground/*.dat

# Documentation
/node_modules
/build
.docusaurus
.cache-loader
