# Build artefacts
bin
obj

# VS
.vs
*.user

# Rider
.idea

# macOS
.DS_Store

# Telega.Playground
Telega.Playground/*.json
Telega.Playground/*.dat

# Documentation
/node_modules
/build
.docusaurus
.cache-loader

