# build artefacts
bin
obj

# VS
.vs
*.user

# Rider
.idea

# macOS
.DS_Store

# Telega
Telega/Rpc/Dto/Types
Telega/Rpc/Dto/Functions

# Telega.Playground
Telega.Playground/*.json
Telega.Playground/*.dat
